<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">AWS</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Amazon Web Services <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Les principes du cloud computing, les avantages de AWS et ses apports pour les systèmes d'informations.</li>
              <li>Maitriser les principaux services AWS</li>
            </ul>
            <form action = "http://localhost:8080/index" method = "post">
               <button name="name" value="myvalue">show</button>
            </form>
          </div>
        </div>
        </div>
        <div class="col">
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">ML</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><Main>Machine learning</Main> <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Permettre aux étudiants de manipuler un framework proposant des fonctionnalités avancées de Deep Learning.</li>
              <li>Etudier l'impact d'un grand nombre d'algorithmes sur des datasets choisis. Participation à des compétitions publiques Kaggle.</li>
            </ul>
             <form action = "http://localhost:8080/index" method = "post">
               <button name="name" value="myvalue">show</button>
            </form>
          </div>
        </div>
        </div>
        <div class="col">
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">BI</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Business Intelligence <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Comprendre et concevoir un modèle décisionnel.</li>
              <li>Appréhender la conduite d'un projet décisionnel.</li>
              <li>Découvrir les différents outils utilisés dans le cadre du décisionnel</li>
              <li>Produire des analyses pertinentes</li>
            </ul>
            <form action = "http://localhost:8080/index" method = "post">
               <button name="name" value="myvalue">show</button>
            </form>
          </div>
        </div>
        </div>
      </div>
  </body>
</html>